.logon-container {
  width: 100vw;
  height: 100vh;

  background: #e7e7ec;

  display: flex;
  justify-content: center;
}

.form {
  margin-top: 100px;

  width: 300px;
  height: 350px;
  padding: 20px;

  border-radius: 10px;

  background-color: #f0f0f5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form span {
  display: block;
  width: 100%;

  font-size: 28px;
  font-weight: 700;

  padding: 10px;
  text-align: center;

  margin-bottom: 30px;
}

.form input {
  margin-bottom: 10px;
}

.form button {
  margin-top: 20px;
}