@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  background-color: #e7e7ec;
}

.newProduct-list-table {
  display: flex;

  padding: 30px 60px;
}

.data-table {
  width: 100%;
}

.radio-option {
  display: flex;
  
  padding: 5px 0 15px 10px;
}

.radio-option .radio-option-title {
  font-weight: bold;
}

.radio-option-item {
  padding: 0 10px;
}

.sub-option {
  display: flex;

  padding: 5px 0 15px 10px;
}

.sub-option label {
  font-weight: bold;
}

.sub-option-item {
  padding: 0 20px 0 0;
}

.sub-option-item input {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;

  padding: 10px;
  width: 250px;
  height: 20px;

  border-radius: 7px;
}

.sub-option-item select {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;

  width: 200px;
  height: 20px;

  border-radius: 7px;

  text-align-last: center;
}

.sub-option-item button {
  height: 20px;

  padding: 0 10px;

  background: gray;
  border: 0;
  border-radius: 8px;
  color: #ffffff;

  outline: none;

  transition: filter 0.2s;
  cursor: pointer;
}

.sub-option-item button:hover {
  filter: brightness(90%);
}