@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  background-color: #e7e7ec;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-width: 1200px;
  height: 80px;
  padding: 0 40px;

  background-color: #333;
}

.user-infor {
  color: #adadad;
}

.title-logo {
  font: 400 28px Luckiest Guy, sans-serif;
  margin-right: 30px;
}

.message-welcome {
  font: normal 20px Luckiest Guy, sans-serif;
}

.user-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 250px;
}

.user-config {
  display: flex;
  flex-direction: column;
}

.user-config:hover .user-config-box{
 display: block;
}

.user-config-box {
  display: none;
  position: absolute;
  right: 5px;
  top: 56px;
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 15px;
}

.user-config-box ul li {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.user-config-box ::before {
  content: '';

}

.newProduct-top {
  display: flex;
  justify-content: space-between;

  padding: 30px 60px 0 60px;
}

.newProduct-top .title {
  font-size: 24px;
  font-weight: bold;

  color: #333333;
}

.product-option {
  display: flex;
}

.product-option-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 35px;
  padding: 5px;
  border-radius: 7px;
}

.product-option-item span {
  color: #333333;
}

.product-option-item:hover {
  background-color: #ddd;
}

.newProduct-list-info {
  display: flex;
  justify-content: space-between;

  padding: 0 60px;
}

.data-client {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 600px;
}

.data-client-item {
  padding: 5px 0 5px 10px;
}

.data-client-item label {
  font-weight: bold;
}

.data-client-item span {
  text-transform: uppercase;
}

.data-buy {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 400px;
}

.product-value {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 5px 10px;
}

.product-value span {
  font-size: 28px;
  font-weight: bold;
}

.produto-buy-info {
  display: flex;
  justify-content: space-between;

  padding: 5px 30px;
}

.produto-buy-info span {
  font-size: 16px;
}

.newProduct-list-table {
  display: flex;

  padding: 30px 60px;
}

.data-table {
  width: 100%;
}

.radio-option {
  display: flex;
  
  padding: 5px 0 15px 10px;
}

.radio-option .radio-option-title {
  font-weight: bold;
}

.radio-option-item {
  padding: 0 10px;
}

.sub-option {
  display: flex;

  padding: 5px 0 15px 10px;
}

.sub-option label {
  font-weight: bold;
}

.sub-option-item {
  padding: 0 20px 0 0;
}

.sub-option-item input {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;

  padding: 10px;
  width: 250px;
  height: 20px;

  border-radius: 7px;
}

.sub-option-item select {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;

  width: 200px;
  height: 20px;

  border-radius: 7px;

  text-align-last: center;
}

.sub-option-item button {
  height: 20px;

  padding: 0 10px;

  background: gray;
  border: 0;
  border-radius: 8px;
  color: #ffffff;

  outline: none;

  transition: filter 0.2s;
  cursor: pointer;
}

.sub-option-item button:hover {
  filter: brightness(90%);
}